nav{
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(152, 222, 199);
}
.banniere{
  background-image: url("asset/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg");
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1{
  color: aliceblue;
}
.section{
height: 400px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.image{
width: 40%;
height: 400px;
background-image: url("asset/vêtements.jpg");
background-size: cover;

}
h2{
  text-align: center;
}
p{
  
  width: 50%;
}


